*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}

img{
    width: 100%;

}
body{
    color: var(--text-color);
}

