*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}

/* Custom Scroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}

img{
    width: 100%;

}
body{
    color: var(--text-color);
}

.header.shadow {
    color: var(--bg-color);
}

/* Making Responsive */
@media (max-width:1080px){
    .container{
        margin-left:1rem;
        margin-right: 1rem;
    }
}

@media (max-width:991px){
    .nav{
        padding: 15px 20px;
    }
    section {
        padding: 3rem 0 1rem;
    }
    .home{
        padding-left: 2rem;
    }
    .home-text h1 {
        font-size: 2.1rem;
    }
}

@media (max-width:920px){
    #search-icon{
        color: var(--text-color) !important; 
    }
}

@media (max-width:768px){
    .search-box input {
        padding: 15px;
    }
    .nav{
        padding: 10px 0 ;
    }
    #menu-icon {
        display: initial !important ;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
        clip-path: circle(0% at 0% 0%);
    }
    .navbar a {
        display: block;
        padding: 15px;
    }
    .navbar a:hover,
    .navbar .active {
        border-bottom: none;
        background: var(--primary-color);
        color: var(--bg-color) !important;
    }
    .navbar.active{
        clip-path: circle(144% at 0% 0%); 
    }
}
@media (max-width:727px){
    .heading span {
        font-size: 0.9rem;
    }
    .heading h2{
        font-size: 1.4rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about-text{
        text-align: center;
    }
    .about-text h2{
        font-size: 1.4rem;
    }
}
@media (max-width:607px){
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:360px){
    .search-box input{
        padding: 11px;
    }
    .home{
        min-height: 500px;
    }
    .home-texr h1{
        font-size: 2rem;
    }
    .home-text p br{
        display: contents !important;
    }
}
